<div class="card white">
  <div class="col-md-offset-2">
    <form (ngSubmit)="submitRecipeForm(f)" #f="ngForm" novalidate>
        <div class="addrecipe-header-div">
          <h2>Add Recipe</h2>
          <span>Lorem ipsum dolor sim amet</span>
        </div>
        <img src="/assets/img/brewday/step1.png" class="addrecipe-header-img">
        <div class="row mrgtop20">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Name</label>
              <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="recipe.name" required>
            </div>
            <div class="form-group">
              <label class="control-label">Beer Type</label>
              <input type="text" class="form-control" placeholder="Beer Type" name="beer_type" [(ngModel)]="recipe.beer_type" required>
            </div>
            <div class="form-group">
              <label class="control-label">Recipe Type</label>
              <input type="text" class="form-control" placeholder="Recipe Type" name="recipe_type" [(ngModel)]="recipe.recipe_type" required>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-4 sliderImageDiv">
            <div><span>Choose a suitable image</span></div>
              <div class="quote-carousel carousel slide" data-interval="false" id="quote-carousel">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#quote-carousel" data-slide-to="1"></li>
                  <li data-target="#quote-carousel" data-slide-to="2"></li>
                </ol>      
                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">      
                  <!-- Quote 1 -->
                  <div class="item active">
                      <div class="row">
                        <div class="slider_value col-sm-12 text-center">
                          <img class="img-circle" src="assets/img/BeerTypes/Ale.png">
                        </div>
                        <div class="col-sm-12">
                          <p>Ale</p>
                        </div>
                      </div>
                  </div>
                  <!-- Quote 2 -->
                <div class="item">
                    <div class="row">
                      <div class="slider_value col-sm-12 text-center">
                        <img class="img-circle" src="assets/img/BeerTypes/Lager.png">
                      </div>
                      <div class="col-sm-12">
                        <p>Lager</p>
                      </div>
                    </div>
                </div>
                <!-- Quote 3 -->
                <div class="item">
                    <div class="row">
                      <div class="slider_value col-sm-12 text-center">
                        <img class="img-circle" src="assets/img/BeerTypes/Malt.png">
                      </div>
                      <div class="col-sm-12">
                        <p>Malt</p>
                      </div>
                    </div>
                </div>
                <!-- Quote 4 -->
                <div class="item">
                    <div class="row">
                      <div class="slider_value col-sm-12 text-center">
                        <img class="img-circle" src="assets/img/BeerTypes/Porter.png">
                      </div>
                      <div class="col-sm-12">
                        <p>Porter</p>
                      </div>
                    </div>
                </div>
                <!-- Quote 5 -->
                <div class="item">
                    <div class="row">
                      <div class="slider_value col-sm-12 text-center">
                        <img class="img-circle" src="assets/img/BeerTypes/Stout.png">
                      </div>
                      <div class="col-sm-12">
                        <p>Stout</p>
                      </div>
                    </div>
                </div>
              </div>
      
                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
              </div>                          
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Batch Size</label>
              <input type="text" class="form-control" placeholder="Batch Size" name="batch_size" [(ngModel)]="recipe.batch_size" required>
              
            </div>
            <div class="form-group">
              <label class="control-label">Color</label>
              <input type="text" class="form-control" placeholder="Color" name="color" [(ngModel)]="recipe.color">
            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            <div class="form-group">
              <label class="control-label">Bitterness</label>
              <input type="text" class="form-control" placeholder="Bitterness" name="bitterness" [(ngModel)]="recipe.bitterness">
            </div>
            <div class="form-group">
              <label class="control-label">Fermentation</label>
              <input type="text" class="form-control" placeholder="Fermentation" name="fermentation" [(ngModel)]="recipe.fermentation">
            </div>
        </div>
      </div>
      <hr style="width: 80%;margin-left: 0px;"/>
      <div class="row mrgtop10">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Original Gravity</label>
            <input type="text" class="form-control" placeholder="Original Gravity" name="original_gravity" [(ngModel)]="recipe.original_gravity">
            
          </div>
          <div class="form-group">
            <label class="control-label">Final Gravity</label>
            <input type="text" class="form-control" placeholder="Final Gravity" name="final_gravity" [(ngModel)]="recipe.final_gravity">
          </div>
        </div>
        <div class="col-md-offset-1 col-md-4">
          <div class="form-group">
            <label class="control-label">Alcohol By Vol</label>
            <input type="text" class="form-control" placeholder="Alcohol By Vol" name="alcohol_by_vol" [(ngModel)]="recipe.alcohol_by_vol">
          </div>
      </div>
    </div>
    <hr style="width: 80%;margin-left: 0px;"/>
    <div class="row mrgtop10 no_padding">
      <div class="col-md-9 no_padding">
        <div class="form-group" *ngFor="let ingredient of recipe.ingredients; let i = index;">
          <div class="col-lg-4">
            <label class="control-label">Hops</label>
            <input type="text" class="form-control" placeholder="Hops" [name]="'ingredients_hops' + i" [(ngModel)]="ingredient.hops">
          </div>
          <div class="col-lg-4">
            <label class="control-label">Malt</label>
            <input type="text" class="form-control" placeholder="Malt" [name]="'ingredients_malt' + i" [(ngModel)]="ingredient.malt">
          </div>
          <div class="col-lg-4">
            <label class="control-label">Grain</label>
            <input type="text" class="form-control" placeholder="Grain" [name]="'ingredients_grain' + i" [(ngModel)]="ingredient.grain">
          </div>
        </div>
        <label class="error animated fadeIn col-lg-10" *ngIf="ingredientError">{{ingredientError}}</label>
        <div class="form-group">
          <div class="col-lg-10 mrgtop10">
            <button type="button" class="btn btn-orange big" (click)="addIngredient()">Add Ingredient</button>
          </div>
        </div>
      </div>
    </div>
    <hr style="width: 80%;margin-left: 0px;"/>
    <div class="row mrgtop10">
      <div *ngFor="let step of recipe.steps; let i = index;">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" placeholder="Name" [name]="'step_name' + i" [(ngModel)]="step.name">
          </div>
        </div>
        <div class="col-md-offset-1 col-md-4">
          <div class="form-group">
            <label class="control-label">Step Time</label>
            <input type="text" class="form-control" placeholder="Step Time" [name]="'step_time' + i" [(ngModel)]="step.step_time">
          </div>
        </div>
      </div>
      <label class="error animated fadeIn col-lg-10" *ngIf="stepError">{{stepError}}</label>
      <div class="form-group">
        <div class="col-lg-10">
          <button type="button" class="btn btn-orange big" (click)="addStep()">Add Step</button>
        </div>
      </div>
    </div>
      <div class="row mrgtop10">
        <div class="col-md-9">
          <label class="control-label">Procedure</label>
          <div>
            <textarea class="form-control" placeholder="Procedure" [name]="'procedure'" [(ngModel)]="recipe.procedure"></textarea>
          </div>
        </div>
      </div>
      <div class="row mrgtop10">
        <div class="col-md-9">
          <img src="/assets/img/brewday/step2.png"/>
          <div style="float: right">
            <button type="submit" class="btn btn-orange submit_btn">Submit</button>
          </div>
        </div>
      </div>
  </form>
</div>
</div>