.modal-orange{
  background-color: rgba(255, 87, 34, 0.8);
  transition: all 0.15s linear;
}
.guild_text_pad{
  padding: 80px 0px 123px 0;
}
.foundet{
    font-size: small;
    font-weight: bold;
}
.guild_wrapper{
    position: relative;
}
.guild_title_div{
    background: #ffc107;
    color: white;
}
.guild_name{
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
}
.guild_info_counter{
    font-size: 36px !important;
    color: #ffc107;
}
.guild_info {
    padding: 1.5% 18% 1.5% 1.5%;
}
.guild_info_img{
    position: absolute;
    top: -40px;
    right: 15px;
    height: auto;
    width: 36%;
    background: transparent url(/assets/gravatar/dracula_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    z-index: 0;
    bottom: 0;
    display: inline-block;
}
.guild_info img{
    height: 50px;
}
.guild_avatar_div{
    top:-30px;
}
.guild_membercount-div{
    margin-top: 10px;
}
.guild_membercount-div span,.recipes_count_div span{
    color: #ffc107;
    font-size: medium;

}
.guild_membercount-div img,.recipes_count_div img{
    margin-bottom: 12px;
}
.browse_guild{
    margin-top: 20px;
}
div.single>div.placeholder{
    font-size: 15px !important;
}
.guild_member_title{
    margin-left: 30px;
    font-size: large;
    color: #ffc107;
    font-weight: 500;
}
.modifi-row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.member-block-div{
    padding: 10px 18px;
}
.member-block{
    height: 120px;
    width: 120px;
    background: #ff5722;
}
.member-block-note{
    padding-left: 35px !important;
}
.modifi-search-mem{
    margin-bottom: 15px;
    margin-top: 5px;
    padding-right: 18px;
    padding-left: 3px;
}
.recipe-div{
    border: 1px solid #e1e1e1;
    margin: 25px;
}
.recipe-name{
    font-size: medium;
    font-weight: 500;
    position: relative;
    padding: 0 0 10px;
}
.recipe-name:after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: #ffc107;
}
.show-recipe-btn{
    width: 100%;
}
.blog-widget {
    padding: 25px;
}
.loader_div {
  height: 300px;
  position: relative;
  background-color: white; /* for demonstration */
}
.ajax-loader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; /* presto! */
}

@media (min-width: 1024px) and (max-width: 1199px){

}

@media (min-width: 992px) and (max-width: 1199px){

}

@media (min-width: 768px) and (max-width: 991px){

}